body{
    background-color: chocolate;
}

*{
color:azure;
}

/*this removes bullets and generic padding and margin built into the list*/
#navbar-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}
  
a {
    display: block;
    text-align: center;
    padding: 15px;
    background-color:chocolate;
    font-size: 50px;
}

a:link{
    text-decoration: none;
}

a:hover{
    background-color: azure;
    color:chocolate;
}

a:active{
    background-color: azure;
    color:chocolate
}

.name{
    font-size: 75px;
    display: block;
    float:left;
    padding-right: 20px;
}

#intro{
    font-size: 200px;
    width:50%;
    display: block;
    float:left;
    position:absolute;
    bottom:30%;
    left:150px;

}

.history{
    display: block;
    float:left;
    font-size: 75px;
    width: 33%;
    position: relative;
    padding: 1em;
    margin: 1em;
    outline: 10px;
    outline-color: azure;
}

#profilepic{
    display: block;
    position: absolute;
    border-color:black;
    border-width: 100px;
    border-radius: 50%;
    bottom:30%;
    right:15%;
}

table, th, td {
    border: 1px solid;
  }

td{
    padding: 0 25px;
}
  table{
    position: absolute;
    width: 50%;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    text-align: center;
    border-width: 1em;
    font-size: 70px;
  }


  #contact{
    background-color:chocolate;
    color: azure;
    border:none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display:block;
    float: right;
    font-size: 50px;
    margin: 4px 2px;
    position: absolute;
    margin-left: 90%;
    border-radius: 50%;
    
  }
  #contact:hover{
    background-color: azure;
    color:chocolate;
  }
 


